@model IList<Inicial.Dominio.CategoriaDoProduto>
<label class = "label  btn-danger">@ViewBag.Error</label>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>@Html.ActionLink("Cadastrar", "Form", "CategoriaDoProduto", null, new { @class = "btn btn-info  pull-right" })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
            {
            <tr>
                <td>@categoria.Id</td>
                <td>@Html.ActionLink(categoria.Nome, "Visualiza", new { id = categoria.Id })</td>
                <td>@categoria.Descricao</td>
                <td>@Html.ActionLink("Excluir", "Excluir", "CategoriaDoProduto", new { id = categoria.Id }, new { @class = "btn btn-info  pull-right", @onclick = "JavaScript:return(confirm('Deseja Excluir?'))" })</td>
            </tr>
        }
    </tbody>
</table>

