<form action="/usuario/Adiciona" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("usuario.NomeJaCadastrado", null, new { @class = "label btn-danger" })
    @Html.ValidationMessage("usuario.Nome", null, new { @class = "label btn-danger" })
    @Html.ValidationMessage("usuario.Email", null, new { @class = "label btn-danger" })
    @Html.ValidationMessage("usuario.Senha", null, new { @class = "label btn-danger" })
   <br /><br />
    <label for="nome">Nome:</label>
    <input id="nome" name="usuario.Nome" value="@ViewBag.Usuario.Nome" class="form-control" maxlength="40" />
   
    <br />
    <label for="preco">E-Mail:</label>
    <input id="preco" name="usuario.Email" value="@ViewBag.Usuario.Email" class="form-control" maxlength="50" />
    
    <br />
    <label for="quantidade">Senha:</label>
    <input id="quantidade" name="usuario.Senha" value="@ViewBag.Usuario.Senha" class="form-control" maxlength="10" />    
    <br />
    <br />
    <div class="col-md-12">
        @Html.ActionLink("Listar", "Index", "Usuario", null, new { @class = "btn btn-info  pull-right" })
        <input type="submit" value="Incluir" class="btn btn-info pull-right" />
    </div>

</form>